@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&display=swap');
*{
    padding:0;
    margin:0;
}
body{
    background-color:gray;
    font-family: 'Gentium Book Plus', serif;
    font-size: 1.0em;
}
.container{    
    
    width: 100vw;
    height: 1000px;
    display:flex;
    flex-direction: column;
    
}
.div-1{
    background-color: rgb(72, 183, 252);
    width: 90vw;
    height: 80vh;
    border: 3px solid rgb(7, 7, 7);
    text-align: center;
    font-size: 2.0cm;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(104, 245, 250);
}

.div-1 p{
    position:absolute ;  
    background-color: rgb(5, 5, 5);
   
}
.a{
   
    width:90vw;
    height:80vh;
    text-align: center;
}
.container img{
    border: 2px black;
}
.div-1 p{
  
    text-overflow: ellipsis;
    text-shadow: 0px 0px 50px rgb(230, 224, 215);
}

  

.div-2{
    background-color:rgb(245, 15, 103);
    width: 90vw;
    height: 100vh;
    border: 3px solid rgb(10, 10, 10);
    text-align: center;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(7, 7, 7, 0.775);
}

.b{
    
    width:40vw;
    height:50vh;
    text-align: center;
    padding: 1ex;
}
.container img{
    border: 2px solid rgb(244, 242, 242);
}
.div-3{
    background-color:rgb(239, 100, 13);
    width: 90vw;
    height: 100vh;
    border: 3px solid rgb(8, 8, 8);
    text-align: center;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(7, 7, 7);
}
.container img{
    border: 1px solid rgb(243, 236, 236);
}

.c{
    width:40vw;
    height:50vh;
    padding: 1ex;
}
.div-4{
    background-color: rgb(60, 231, 37);
    width: 90vw;
    height: 80vh;
    border: 3px solid rgb(7, 7, 7);
    text-align: center;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(10, 10, 10);
}
.d{
    width: 40vw;
    height:50vh;
    padding: 1ex;
}
.container img{
    border: 3px solid rgb(251, 247, 247);
}

